* {
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 2000px;
    background: linear-gradient(to top, #46748E, #BDD0D9);
}

.modal {
	height: 300px;
	width: 500px;
	border: solid 2px black;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #C0D6C4;
}

.modal-box {
	padding: 10px;
}

h1 {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.content {
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.content-item {
	height: 180px;
	width: 110px;
	padding: 5px;
	margin: 2px;
	border: 1px solid black;
	border-radius: 5px;
	overflow: overlay;
}
